@using _1460353.Models
@using _1460353.Helpers
@model  sanpham
@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div class="caption-lg-red"> Sản phẩm này không tồn tại</div>
}
else
{
    if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error : </span>
            @ViewBag.Error
        </div>
    }
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Success : </span>
            @ViewBag.Message
        </div>
    }
    <div class="well row">
        <div class="col-lg-12">
            <a href="#sp-edit" data-toggle="modal"> <i data-toggle="tooltip" title="Chi tiết chỉnh sửa" class="gluphicon glyphicon-edit text-primary"></i></a>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <a href="#img-lg" data-toggle="modal"><img data-img="@Model.hinh1" class="img" style="height:150px;" src="@Model.hinh1" alt="@Model.ten"></a>
            </div>
            <div class="col-md-12">
                <a href="#img-lg" data-toggle="modal"><img data-img="@Model.hinh2" class="img" style="height:150px;" src="@Model.hinh2" alt="@Model.ten"></a>
            </div>
            <div class="col-md-12">
                <a href="#img-lg" data-toggle="modal"><img data-img="@Model.hinh3" class="img" style="height:150px;" src="@Model.hinh3" alt="@Model.ten"></a>
            </div>
        </div>

        <div class="col-md-8">

            <div class="col-md-12 pager caption-title ">
                @Model.ten
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label>Giá khởi điểm : </label>
                        <h5> @string.Format("{0:N0}", Model.giakhoidiem)</h5>
                    </div>
                    <div class="col-md-12">
                        <label>Giá hiện tại : </label>
                        <h5> @string.Format("{0:N0}", Model.giahientai)</h5>
                    </div>
                    <div class="col-md-12">
                        <label>Giá mua ngay cho sản phẩm : </label><h5>  @string.Format("{0:N0}", Model.giamuangay)</h5>
                    </div>
                    <div class="col-md-12">
                        <label>Số lượng : </label><h5>  @Model.soluong</h5>
                    </div>

                    <div class="col-md-12">
                        <label>Người đang giữ cao nhất : </label><a href="@Url.Action("Index","DanhGia",new {id=Model.id_nguoidunghientai })">
                        @if(Model.id_nguoidunghientai!=null){
                            <h5>@_1460353.Helpers.nguoidung.find((int)Model.id_nguoidunghientai).ten</h5>
                        }
                        </a>
                    </div>
                    <div class="col-md-12">
                        <label>Người đăng sản phẩm bán :</label><a href="@Url.Action("Index","DanhGia",new {id=Model.id_nguoidung })"><h5>  @_1460353.Helpers.nguoidung.find((int)Model.id_nguoidung).ten</h5></a>
                    </div>
                    <div class="col-md-12">
                        <label>Lượt xem :</label><h5>  @Model.luotview</h5>
                    </div>
                    <div class="col-md-12">
                        <label>Thời gian bắt đầu : </label><h5>  @Model.ngaybatdau</h5>
                    </div>
                    <div class="col-md-12">
                        <label>Thời gian kết thúc : </label><h5> @Model.ngayketthuc</h5>
                    </div>
                    <div class="col-md-12">
                        <label>Thời gian còn lại : </label>
                        <label id="hengio"></label>
                    </div>
                    @if (Login.IsLogin() == true)
                    {
                        <form id="form-dat" class="form-horizontal" method="post" action="@Url.Action("Mua","Product")">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="hidden" id="txtP" name="proId" value="@Model.id" />
                                    <div class="input-group com" style="margin-left:24px;">
                                        <input id="txtG" type="text" name="Gia" class="form-control" value="@(Model.giahientai+Model.buocgia)" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pager">
                                <a data-toggle="modal" href="#confirm" class="confirm btn btn-primary " data-id="form-dat">Đặt</a>
                            </div>
                        </form>
                        <form id="form-muangay" class="form-horizontal" method="post" action="@Url.Action("MuaNgay","Product")">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="hidden" id="txtP" name="proId" value="@Model.id" />
                                </div>
                            </div>
                            <div class="form-group pager">
                                <a data-toggle="modal" href="#confirm" class="confirm btn btn-primary " data-id="form-muangay">Mua Ngay</a>
                            </div>
                        </form>
                    }
                </div>
                <div class="col-md-6">
                   
                        <label>Miêu tả sản phẩm : </label><h5 class="txtover"> @Html.Raw(HttpUtility.HtmlDecode(Model.chitiet))</h5>
                   
                
                </div>
            </div>

        </div>


    </div>

}
@section modal{
<div id="img-lg" class="modal fade " role="dialog">
    <div class="modal-dialog">
        <img style="width:100%;height:100%" id="img-lg-show" />
    </div>
</div>

<div class="modal fade" id="confirm" role="dialog">
    <div class="dialog">
        <div class="pager well">
            <p>Xác nhận</p>
            <input type="hidden" id="id-form" />
            <button class="confirm-yes btn btn-success">Yes</button>
            <button class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="sp-edit">
    
        <div class="mymodal-content">
            <label class="modal-header">Chi tiết chỉnh sửa mô tả sản phẩm</label>
            <table class="table table-striped">
                <tr>
                    <td>Ngày sửa</td>
                    <td>Nội dung chỉnh sửa</td>
                </tr>
                @foreach (var ct in _1460353.Helpers.sanphamhp.list_edit((int)Model.id))
                {
                    <tr>
                        <td>@ct.thoigian</td>
                        <td>
                            <p>@Html.Raw(ct.noidungchinhsua)</p> 
                        </td>
                    </tr>
                }
            </table>
           
        </div>
    
</div>
 }
@section css
{
    <link href="~/Scripts/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <style>
        .dialog {
            width: 150px;
            margin: auto;
        }
        .caption-title {
            font-weight: bold;
            font-size: 15pt;
            color: red;
        }
        .caption-lg-red {
            font-weight: bold;
            font-size: 15pt;
            color: red;
        }
         .padding{
            padding-top: 10px
        }
    </style>
}

@section js
{
    <script src="~/Scripts/elevatezoom/jquery.elevatezoom.js"></script>
    <script>
        var countDownDate = new Date("@Model.ngayketthuc").getTime();
        var x = setInterval(function() {

            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("hengio").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("hengio").innerHTML = "Hết hạn";
            }
        }, 1000);


        $(function () {
            $('.img').off('click').on('click', function () {
                document.getElementById('img-lg-show').src = $(this).data('img');
            });
        });
    </script>
    <script src="~/Scripts/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript">
        $('#txtG').TouchSpin({
            min: @(Model.giahientai+Model.buocgia),
            step: @Model.buocgia,
            max:@decimal.MaxValue,
            postfix: 'VNĐ',
            verticalbuttons: true,

        });


        $("#zoom_02").elevateZoom({ tint: true, tintColour: '#F90', tintOpacity: 0.5 });

        $('.confirm').on('click', function(){
            var id_form=$(this).data('id');
            $('#id-form').val(id_form);
        });
        $('.confirm-yes').on('click', function () {
            var id = $('#id-form').val();
            $(document.getElementById(id)).submit();

        });
    </script>
}

