@using _1460353.Models
@using _1460353.Helpers
@model  sanpham
@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
<link href="~/Scripts/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

}
@section js
{
    <script>
    var countDownDate = new Date("@Model.ngayketthuc").getTime();
    var x = setInterval(function() {

    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("hengio").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    if (distance < 0) {
        clearInterval(x);
        document.getElementById("hengio").innerHTML = "Đã hết hạn";
    }
    }, 1000);
</script>
<script src="~/Scripts/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.js"></script>
<script type="text/javascript">
        $('#txtG').TouchSpin({
            min: @Model.giahientai+100000,
            step: 100000,
            max: @Model.giamuangay,
            postfix: 'VNĐ',
      verticalbuttons: true,

    });
</script>
}
@if (Model == null)
{
    <text> Sản Phẩm Không Tồn Tại</text>
}
else
{
    if (ViewBag.Error != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong>@ViewBag.ErrorCaptcha
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <img src="~/Imgs/sp/@Model.id/main_thumbs.jpg" alt="@Model.ten">
        </div>
        <div class="col-md-12">
            <h3>@Model.ten</h3>
        </div>
        <div class="col-md-12">
            <h3>Giá Khởi Điểm : @string.Format("{0:N0}", Model.giakhoidiem)</h3>
        </div>
        <div class="col-md-12">
            <h3>Giá Hiện Tại : @string.Format("{0:N0}", Model.giahientai)</h3>
        </div>
        <div class="col-md-12">
            <h3>Giá Mua Ngay: @string.Format("{0:N0}", Model.giamuangay)</h3>
        </div>
        <div class="col-md-12">
            <h3>Số Lượng Sản Phẩm : @Model.soluong</h3>
        </div>
        <div class="col-md-12">
            <h3>Miêu Tả Sản Phẩm @Html.Raw(HttpUtility.HtmlDecode(Model.chitiet))</h3>
        </div>
        <div class="col-md-12">
            <h3>Người Có Giá Cao Nhất: @Model.id_nguoidunghientai</h3>
        </div>
        <div class="col-md-12">
            <h3>Người Giữ Sản Phẩm : @Model.id_nguoidung</h3>
        </div>
        <div class="col-md-12">
            <h3>Lượt Xem : @Model.luotview</h3>
        </div>
        <div class="col-md-12">
            <h3>Thời Gian Bắt Đầu : @Model.ngaybatdau</h3>
        </div>
        <div class="col-md-12">
            <h3>Thời Gian Kết Thúc : @Model.ngayketthuc</h3>
        </div>
        <div class="col-md-12">
            <h3>Thời Gian Còn Lại</h3>
            <h3 id="hengio"></h3>
        </div>
        @if (Login.IsLogin() == true)
        {
            <form class="form-horizontal" method="post" action="@Url.Action("Mua","Product")" id="frmMuaHang">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="hidden" id="txtP" name="proId" value="@Model.id" />
                            <div class="input-group" style="margin-left:24px;">
                                <input id="txtG" type="text" name="Gia" class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-cart-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            </form>
        }
    </div>

}
