@using _1460353.Models
@using _1460353.Helpers
@model  List<sanpham>
@{
    ViewBag.Title = "Danh Muc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count == 0)
{
    <div id="snackbar" style="background-color:red;">
        <text>Không Có Sản Phẩm</text>
    </div>
}
else
{
    <div class="row">
        <form class="navbar-form navbar-left" method="get" action=@Url.Action("TimKiem", "Product")>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Theo Ten Trong Danh Muc" name="TuKhoa">
                <input type="hidden" name="page" value="1" />
                <input type="hidden" name="iddm" value="@ViewBag.iddm" />
                <input type="hidden" name="chon" value="1" />
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </form>
    </div>


    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-3">
                <div class="thumbnail ">
                    <div class="col-md-12">

                        <div class="col-md-9 img-container">
                           

                            <img src="@p.hinh1" style="height:140px;width:140px;margin:10px" alt="@p.ten" class=" img2" />
                            @if (_1460353.Helpers.sanphamhp.getTimein((DateTime)p.ngaybatdau))
                            {
                                <img src="~/Source/Images/new-product.png" style="height:50px;width:50px;" alt="New" class=" img2" />
                            }
                            <div class="middle">
                                <div class="img-text"><a href=@Url.Action("ChiTiet","Product",new {id=p.id }) class="btn btn-default" role="button">Chi Tiết</a></div>
                            </div>
                        </div>



                        <div class="col-md-3">
                            @if (_1460353.Helpers.Login.IsLogin())
                            {
                                if (_1460353.Helpers.Login.nguoidung().quyen == 0)
                                {
                                    if (p.yt == false)
                                    {
                                        <a style="font-size:30px;color:#ffff00;" href="#"><i class="yt glyphicon glyphicon-star-empty" data-idsanpham="@p.id"></i></a>
                                    }
                                    else
                                    {
                                        <a style="font-size:30px;color:#ffff00;" href="#"><i class="yt glyphicon glyphicon-star" data-idsanpham="@p.id"></i></a>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="caption">
                        <h5>@p.ten</h5>
                        <h5>Giá Khởi Điểm : @string.Format("{0:N0}", p.giakhoidiem)</h5>
                        <h5>Giá Hiện Tại : @string.Format("{0:N0}", p.giahientai)</h5>
                        <h5>Giá Mua Ngay : @string.Format("{0:N0}", p.giamuangay)</h5>
                        <p>Miêu Tả Ngắn Sản Phẩm:  </p>
                        <p class="txtover">@p.mieutangan</p>
                        <p>
                            <a href=@Url.Action("ChiTiet","Product",new {id=p.id }) class="btn btn-default" role="button">Chi Tiết</a>
                            
                        </p>

                    </div>
                </div>
            </div>
        }
    </div>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="?page=@((ViewBag.CurPage>1)?ViewBag.CurPage-1 : 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.Pages; i++)
                {
                    if (ViewBag.CurPage == i)
                    {
                        <li class="active"><a href="?page=@i">@i</a></li>
                    }
                    else
                    {
                        <li><a href="?page=@i">@i</a></li>
                    }
                }
                <li>

                    <a href="?page=@((ViewBag.CurPage<ViewBag.Pages)?ViewBag.CurPage+1 : ViewBag.Pages)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
}


@section js{
    <script type="text/javascript">
        $().ready(function () {
            $('.yt').off('click').on('click', function () {
                var total = parseInt($('#yeuthichtotal').html());//tong san pham yeu thich
                var idsanpham = $(this).data('idsanpham');
                if ($(this).hasClass('glyphicon-star-empty')) {
                    $(this).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
                    //code ajax them yeu thich san pham nay vao

                    $('#yeuthichtotal').html(total + 1);
                    //them yeu thich
                    $.ajax({
                        type: 'get',
                        data: { idsanpham: idsanpham },
                        url: '@Url.Action("themyeuthich","Yeuthich")',
                        success: function (str) { }
                    });


                    //them thong bao da yeu thich 1 san pham
                    var thongbaototal = parseInt($('#thongbaototal').html());
                    $('#thongbaototal').html(thongbaototal+1);

                }
                else {
                    $(this).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
                    //code ajax xoa yeu thich san pham nay
                    $('#yeuthichtotal').html(total - 1);

                    //Xoa yeu thich
                    $.ajax({
                        type: 'get',
                        data: { idsanpham: idsanpham },
                        url: '@Url.Action("xoayeuthich","Yeuthich")',
                        success: function (str) { }
                    });

                    //them thong bao da  xoa yeu thich 1 san pham
                    var thongbaototal = parseInt($('#thongbaototal').html());
                    $('#thongbaototal').html(thongbaototal + 1);
                }
            });
        });
    </script>

}
