@using _1460353.Models
@using _1460353.Helpers
@model  sanpham
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style>
}
@if (ViewBag.note == 1)
{
    <div class="alert alert-success">
        Sản phẩm đã được đăng lên sàn đấu! @ViewBag.type
    </div>
}
else if (ViewBag.note == 0)
{
    <div class="alert alert-danger">
        Bạn chưa được cấp phép .Vui lòng yêu cầu admin cấp phép để được đăng sản phẩm!
    </div>
}

<div class="text-success">
    <h2>Đăng sản phẩm đấu giá</h2>
    <form class="form-horizontal" method="post" id="myform" enctype="multipart/form-data">

        <div class="form-group">
            <label for="txtProName" class="col-sm-2 control-label">Tên sản phẩm :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="ten" name="ten" />
            </div>
            <label for="CatID" class="col-sm-2 control-label">Danh mục :</label>
            <div class="col-sm-4">
                <select class="form-control " name="id_danhmuc">
                    @foreach (var c in ViewBag.Danhmuc)
                    {
                        <option value="@c.id">@c.ten</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="txtsoluong" class="col-sm-2 control-label">Số lượng :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="soluong" name="soluong" />
            </div>
            <label for="txtgia" class="col-sm-2 control-label">Giá :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="giakhoidiem" name="giakhoidiem" />
            </div>
        </div>



        <div class="form-group">
            <label for="txtmota" class="col-sm-2 control-label"> Mô tả :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="mieutangan" name="mieutangan" />
            </div>
            <label for="txtgiamuangay" class="col-sm-2 control-label">Giá mua ngay :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="giamuangay" name="giamuangay" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="txtmota" class="col-sm-2 control-label"> Ảnh 1:</label>
            <div class="col-sm-4">
                <input class="btn btn-success" type="file" accept="image/*" name="file1" id="file1" onchange="fileone()" />
                <img style="height:100px;width:100px;" src="" id="img1" />
            </div>
            <label for="txtmota" class="col-sm-2 control-label">Ảnh 2:</label>
            <div class="col-sm-4">
                <input class="btn btn-success" type="file" accept="image/*" name="file2" id="file2" onchange="filetwo()" />
                <img style="height:100px;width:100px;" src="" id="img2" />
            </div>
        </div>

        <div class="form-group">
            <label for="txtmota" class="col-sm-2 control-label">Ảnh 3:</label>
            <div class="col-sm-4">
                <input class="btn btn-success" type="file" accept="image/*" name="file3" id="file3" onchange="filethree()" />
                <img style="height:100px;width:100px;" src="" id="img3" />
            </div>
            <label for="txtmota" class="col-sm-2 control-label">Tự động gia hạn:</label>
            <div class="col-sm-4">
               <select class="form-control" id="tang10phut" name="tang10phut">
                   <option selected value="1">Có</option>
                   <option value="0">Không</option>
               </select>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Chi tiết:</label>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              @Html.TextArea("chitiet",new {@class="ckeditor" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-check"></i>&nbsp;Lưu
                </button>
                <a href="@Url.Action("LoadSPTheoDanhMuc","Product")" class="btn btn-success">
                    <i class="fa fa-reply"></i>&nbsp;Danh sách sản phẩm
                </a>
            </div>
            <div style="color: Red">@ViewBag.Message</div>
        </div>
    </form>
    @section js{
        <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
        <script src="~/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
   
        <script type="text/javascript">
            $("#myform").validate({
                errorClass: 'text-danger',
                rules: {
                    giakhoidiem: {
                        required: true,
                        number: true
                    },
                    ten: {
                        required: true,
                    },
                    soluong: {
                        required: true,
                        number: true,
                    },
                    mieutangan: {
                        required: true,

                    },
                    giamuangay: {
                        number: true,
                    },
                    file1: {
                        required: true,
                    },
                    chitiet: {
                        required: true,
                    },
                },
            
                messages: {
                    giakhoidiem: {
                        required: "Vui lòng không bỏ trống giá khởi điểm!",
                        number: "Giá là một số!"
                    },
                    ten: {
                        required: "Vui lòng không bỏ trống tên sản phẩm!",
                    },
                    soluong: {
                        required: "Vui lòng không bỏ trống số lượng!",
                        number: "Số lượng phải là 1 số!",
                    },
                    mieutangan: {
                        required: "Vui lòng không bỏ trống miêu tả ngắn về sản phẩm!",

                    },
                    giamuangay: {
                        number: "Giá là 1 số!",
                    },
                    file1: {
                        required: "Vui lòng thêm hình ảnh thứ 1 cho sản phẩm",
                    },
                    chitiet: {
                        required: "Vui lòng thếm chi tiết cho sản phẩm này!",
                    },
                }
            });
        </script>
        <script>
            $('.selectpicker').selectpicker();
            tinymce.init({
                selector: 'textarea',
                height: 150,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
                ],
                toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help',
                image_advtab: true,
            });
        </script>
        <script type="text/javascript">
            $('.datepicker').datepicker({
                format: 'd/m/yyyy',
            });
        </script>
        <script type="text/javascript">
            function fileone() {
                var file = document.getElementById('file1').files[0];
                var reader = new FileReader();

                reader.addEventListener("load", function () {
                    var idimg = document.getElementById("img1");
                    idimg.src = reader.result;
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }
            function filetwo() {
                var file = document.getElementById('file2').files[0];
                var reader = new FileReader();

                reader.addEventListener("load", function () {
                    var idimg = document.getElementById("img2");
                    idimg.src = reader.result;
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }
            function filethree() {
                var file = document.getElementById('file3').files[0];
                var reader = new FileReader();

                reader.addEventListener("load", function () {
                    var idimg = document.getElementById("img3");
                    idimg.src = reader.result;
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }
        </script>

    }
</div>
