<h5>Top 5 sản phẩm có giá cao nhất</h5>
@foreach (var p in Model)
{
    <h5>@p.ten</h5>
    <h5>Giá Khởi Điểm : @string.Format("{0:N0}", p.giakhoidiem)</h5>
    <h5>Giá Hiện Tại : @string.Format("{0:N0}", p.giahientai)</h5>
    <h5>Giá Mua Ngay : @string.Format("{0:N0}", p.giamuangay)</h5>
    <p>Miêu Tả Ngắn Sản Phẩm:  </p>
    <p class="txtover">@p.mieutangan</p>
    <p>
        <a href=@Url.Action("ChiTiet","Product",new {id=p.id }) class="btn btn-default" role="button">Chi Tiết</a>
    </p>
}
