@using _1460353.Models
@using _1460353.Helpers
@model  List<danhgia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count == 0)
{
    <text>Chưa có lượt đấu giá nào</text>
}
else
{
<div class="well">
    <div class="row">
        <h4>Tốt : @ViewBag.Tot</h4>
        <h4>Kém : @ViewBag.Xau</h4>
        <h4>Tổng số :  @ViewBag.Tong</h4>
    </div>
    <table id="table" class="table table-striped">
        <tr>
            <td>Tên</td>
            <td>Người đánh giá</td>
            <td>Nội dung</td>
            <td>Ngày tạo</td>
            <td>Đánh giá</td>
        </tr>
        @foreach (var dg in Model)
        {
            <tr class="tr">
                <td>@dg.id_nguoidung</td>
                <td>@dg.id_nguoidanhgia</td>
                <td>@dg.noidung</td>
                <td>@dg.ngaytao</td>
                @if(dg.mat==1)
                {
                    <td>Tốt</td>
                }
                else
                {
                   <td>Kém</td>
                }
            </tr>
        }
    </table>
</div>
}
