@using _1460353.Models
@using _1460353.Helpers
@model  List<lichsudau>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count == 0)
{
    <text>Không có sản phẩm đấu giá</text>
}
else
{
<div class="row">
   @for (int i = 0; i < Model.Count; i++)
   {
        <div class="col-md-3">
            <div class="thumbnail ">
                <div class="col-md-12">
                    <img src="~/Imgs/sp/@Model[i].id_sanpham/main_thumbs.jpg" alt="@ViewBag.listsp[i].ten" class="col-md-9" />
                </div>
                <div class="caption">
                    <h5>@ViewBag.listsp[i].ten</h5>
                    <h5>Lịch sử ra giá : @string.Format("{0:N0}", Model[i].tiendadau)</h5>
                    <p>Ngày đấu giá : </p>
                    <p >@Model[i].ngaydaugia</p>
                    <p>
                        <a href=@Url.Action("ChiTiet", "Product", new { id = Model[i].id_sanpham }) class="btn btn-default" role="button">Chi Tiết</a>    
                    </p>
                    @if (Model[i].tinhtrang == 0)
                    {
                        <p></p>
                    }
                    else
                    {
                        <h4>Bạn đã bị kích ra khỏi vùng đấu giá. Bạn không có quyền đấu giá sản phẩm nầy</h4>
                    }
                </div>
            </div>
        </div>
   }
</div>

<nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="@Url.Action("Index", "LichSuDau", new { page = ((ViewBag.CurPage > 1) ? ViewBag.CurPage - 1 : 1) }) " aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
             @for (int i = 1; i <= ViewBag.Pages; i++)
                {
                    if (ViewBag.CurPage == i)
                    {
                        <li class="active"><a href=@Url.Action("Index", "LichSuDau", new { page = i })>@i</a></li>
                    }
                    else
                    {
                        <li><a href=@Url.Action("Index", "LichSuDau", new { page = i })>@i</a></li>
                    }
                }
            <li>
                <a href="@Url.Action("Index", "LichSuDau", new { page = ((ViewBag.CurPage < ViewBag.Pages) ? ViewBag.CurPage + 1 : ViewBag.Pages) })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
