@using _1460353.Models
@using _1460353.Helpers
@model  List<lichsudau>
@{
    ViewBag.Title = "LSSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count == 0)
{
    <div id="snackbar" style="background-color:red">
        Chưa có ai đấu giá hoặc đã kết thúc đấu giá
    </div>
}

else

{
    <div class="well row">
        <div class="pager">
            <h2>Lịch sử đấu sản phẩm @_1460353.Helpers.sanphamhp.find((int)Model[0].id_sanpham).ten</h2>
            <img class="img" src="@_1460353.Helpers.sanphamhp.find((int)Model[0].id_sanpham).hinh1" />
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <table class="table table-bordered">
                <tr>
                    <td>Ngày ra giá</td>
                    <td>Tiền đấu </td>
                    <td>Người đấu </td>
                    <td></td>
                </tr>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].ngaydaugia</td>
                        <td>@Model[i].tiendadau</td>
                        <td>@_1460353.Helpers.nguoidung.mahoa((int)Model[i].id_nguoidung)</td>
                        <td>
                            <form method="post" action="@Url.Action("Index", "KichNguoiDung")">
                                <input type="hidden" name="idsp" value="@Model[i].id_sanpham" />
                                <input type="hidden" name="idnd" class="form-control" value="@Model[i].id_nguoidung" />
                                <button type="submit" class="btn btn-sm btn-danger "><i class="glyphicon glyphicon-remove-circle"></i>kích</button>
                            </form>

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

}
