@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<_1460353.Models.sanpham>
<h2>Danh sách sản phẩm yêu thích</h2>

<ul class="pagination">
    @if (ViewBag.pageTotal != null)
    {
        for (var i = 1; i <= ViewBag.pageTotal; i++)
        {
            if (i == ViewBag.page)
            {
                <li class="active"><a class="page" data-page="@i" href="#">@i</a></li>
            }
            else
            {
                <li><a class="page" data-page="@i" href="#">@i</a></li>
            }

        }
    }
</ul>
<div id="container" class="well row div">
    @foreach (var sp in Model)
    {
        <table class="table table-striped">
            <tr data-id="@sp.id">
                <td><img style="width:60px;height:60px;" src="@sp.hinh1" /></td>
                <td><label>Giá khởi điểm :</label>@sp.giakhoidiem</td>
                <td><label>Giá mua ngay :</label>@sp.giamuangay</td>
                <td><label>Giá hiện tại :</label>@sp.giahientai</td>
                <td><label>Lượt xem:</label>@sp.luotview</td>
                <td><a data-id="@sp.id" class="btn btn-primary yt">Xóa</a></td>
                <td>
                    <a href="@Url.Action("ChiTiet","Product",new { id = @sp.id })" class="btn btn-default" role="button">Chi Tiết</a>
                </td>
            </tr>
        </table>
    }

</div>

@section js{
    <script type="text/javascript">
        $().ready(function () {

            $('.page').off('click').on('click', function () {
                var top = $('.top-loading');
                top.addClass('top-loading-show');
                setTimeout(function () { top.removeClass('top-loading-show'); }, 1500);

                var ul = $(this).parents('ul');
                ul.children('li').removeClass('active');
                $(this).parent('li').addClass('active');

                //load page voi ajax
                var page = $(this).data('page');
                $.ajax({
                    type: 'get',
                    data: { page: page },
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("IndexAjax", "Yeuthich")',
                    success: function (prolist) {
                        $('.table').remove();
                        for (var i = 0; i < prolist.length; i++) {
                            
                            $('.div').append(
                                '<table class="table table-striped">'+
                                   '<tr data-id="'+prolist[i].id+'">'+
                                '<td><img style="width:60px;height:60px;" src="' + prolist[i].hinh1+'" /></td>'+
                                        '<td><label>Giá khởi điểm :</label>'+prolist[i].giakhoidiem+'</td>'+
                                       ' <td><label>Giá mua ngay :</label>'+prolist[i].giamuangay+'</td>'+
                                        '<td><label>Giá hiện tại :</label>'+prolist[i].giahientai+'</td>'+
                                        '<td><label>Lượt xem:</label>'+prolist[i].luotview+'</td>'+
                                        '<td><a data-id="'+prolist[i].id+'" class="btn btn-primary yt">Xóa</a></td>'+
                                         '<td>'+
                                            '<a href="Product/Chitiet/'+prolist[0].id+'" class="btn btn-default" role="button">Chi Tiết</a>'+
                                        '</td>'+
                                '  </tr>' +
                              '  </table>');


                        }
                    }
                });

            });

            $('#container').off('click').on('click','.yt', function () {
                var idsanpham = $(this).data('id');
                var total = parseInt($('#yeuthichtotal').html());
                //timthang cha va xoa
                $(this).closest('table').remove();
                //
                $.ajax({
                    type: 'get',
                    data: { idsanpham: idsanpham },
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("xoayeuthich","Yeuthich")',
                    success: function () {
                        $('#yeuthichtotal').html(total - 1);
                    }
                });
            });
        });
    </script>
}