
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<List<_1460353.Models.yeucau>>
<h2 class="pager animated bounceInDown" style="color:#ff00dc" >Quản lí yêu cầu bán hàng</h2>
@if (ViewBag.note != null)
{
    <div id="snackbar" style="background-color:forestgreen;">
        <b>Thành công</b>
    </div>
}
<div class="well">
    <div class="well-sm">
        <b>Các đơn yêu cầu</b>
    </div>
    <table class="table table-striped">
        <tr style="font-weight:bold;font-size:150%;">
            <td>Tên người dùng</td>
            <td>Email</td>
            <td>Điểm</td>
            <td>Ngày yêu cầu</td>
            <td></td>
        </tr>
        @foreach (var yc in Model[1])
        {
            <tr>
                <td>@_1460353.Helpers.nguoidung.find((int)yc.id_nguoidung).ten</td>
                <td>@_1460353.Helpers.nguoidung.find((int)yc.id_nguoidung).email</td>
                <td>@_1460353.Helpers.nguoidung.find((int)yc.id_nguoidung).diem</td>
                <td>@yc.ngaytao</td>
                <td><a href="@Url.Action("Delete", "Yeucau", new { id1 = @yc.id})"><i data-toggle="tooltip" title="Xóa" class="glyphicon glyphicon-remove-circle text-danger"></i></a>
                <a href="@Url.Action("Accept", "Yeucau", new {id=@yc.id })"><i data-toggle="tooltip" title="Chấp nhận" class="glyphicon glyphicon-check text-success"></i></a></td>
            </tr>
        }
    </table>
</div>

<div class="well">
    <div class="well-sm">
        <b>Các đơn đang hoạt động đăng bài</b>
    </div>
    <table class="table table-striped">
        <tr style="font-weight:bold;font-size:150%;">
            <td>Tên người dùng</td>
            <td>Email</td>
            <td>Điểm</td>
            <td>Ngày yêu cầu</td>
            <td>Ngày bắt đầu được đăng bài</td>
            <td>Ngày kết thúc</td>
            <td></td>
        </tr>
        @foreach (var yc in Model[0])
        {
            <tr>
                <td>@_1460353.Helpers.nguoidung.find((int)yc.id_nguoidung).ten</td>
                <td>@_1460353.Helpers.nguoidung.find((int)yc.id_nguoidung).email</td>
                <td>@_1460353.Helpers.nguoidung.find((int)yc.id_nguoidung).diem</td>
                <td>@yc.ngaytao</td>
                <td>@yc.ngayduocban</td>
                <td>@yc.ngayketthuc</td>
                <td></td>
            </tr>
        }
    </table>
</div>

